# Fiction Audit

### Import the necessary libraries

In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Read in excel spreadsheet
file = '/Users/mbabaian/Desktop/diversity/fic_collection.xls'

# print data
xl = pd.read_excel(file)

### Explore the data
Start by printing the column names

In [18]:
headers = xl.dtypes.index
print(headers)

Index(['call_num', 'author', 'title', 'barcode', 'year', 'status', 'circs'], dtype='object')

### Sample data

In [19]:
print(xl[:20])

   call_num                   author  \
0       FIC                      NaN
1     [Fic]       Gratz, Alan, 1972-
2     [Fic]           Rowling, J. K.
3   FIC ABB  Abbott, Megan E., 1971-
4   FIC ABB  Abbott, Megan E., 1971-
5   FIC ABB  Abbott, Megan E., 1971-
6   FIC ABB  Abbott, Megan E., 1971-
7   FIC ABB            Abbott, Tony.
8   FIC ABD     Abdel-Fattah, Randa.
9   FIC ABR   Abrahams, Peter, 1947-
10  FIC ACH          Acheba, Chinua.
11  FIC ACH          Acheba, Chinua.
12  FIC ACH          Achebe, Chinua.
13  FIC ACH          Achebe, Chinua.
14  FIC ACH          Achebe, Chinua.
15  FIC ACH          Achebe, Chinua.
16  FIC ACI       Acito, Marc, 1966-
17  FIC ADA     Adams, Colin Conrad,
18  FIC ADA    Adams, Douglas, 1952-
19  FIC ADA    Adams, Richard, 1920-

                                                title        barcode    year  \
0                                              Bizou.         T 2012     NaN
1                                   Samurai shortstop  3017039000656  2006.0
2                Harry Potter and the deathly hallows  3017039001062  2007.0
3                                   Dare me : a novel  3017000006239  2012.0
4                                   Dare me : a novel  3017000006255  2012.0
5                                   Dare me : a novel  3017000006271  2012.0
6                                   Dare me : a novel  3017029000024  2012.0
7                                            Firegirl  3017039000944  2006.0
8                      Does my head look big in this?  3017039002234  2007.0
9                                       Reality check  3017039001764  2010.0
10                               A man of the people.        T 15520  1967.0
11                               A man of the people.        T 15521  1967.0
12                                       Arrow of God        T 40604  1989.0
13                                A man of the people        T 30007  1989.0
14                                  Things fall apart  3017039000036  1994.0
15                                  Things fall apart  3017039000037  1994.0
16  How I paid for college : a novel of sex, theft...  3017039001291  2004.0
17                                 Zombies & calculus  3017039002851  2014.0
18                                    Mostly harmless        T 23318  1992.0
19                                     Watership Down  3017078000351  2005.0

       status  circs
0        Lost      0
1   Available      0
2   Available      2
3        Lost      0
4        Lost      0
5        Lost      0
6        Lost      0
7        Lost      0
8   Available      0
9        Lost      0
10       Lost      0
11       Lost      0
12       Lost      0
13       Lost      0
14       Lost      0
15       Lost      0
16       Lost      0
17  Available      0
18       Lost      0
19  Available      0

In [20]:
print(xl['author'], xl['title'])

0                                              NaN
1                               Gratz, Alan, 1972-
2                                   Rowling, J. K.
3                          Abbott, Megan E., 1971-
4                          Abbott, Megan E., 1971-
5                          Abbott, Megan E., 1971-
6                          Abbott, Megan E., 1971-
7                                    Abbott, Tony.
8                             Abdel-Fattah, Randa.
9                           Abrahams, Peter, 1947-
10                                 Acheba, Chinua.
11                                 Acheba, Chinua.
12                                 Achebe, Chinua.
13                                 Achebe, Chinua.
14                                 Achebe, Chinua.
15                                 Achebe, Chinua.
16                              Acito, Marc, 1966-
17                            Adams, Colin Conrad,
18                           Adams, Douglas, 1952-
19                           Adams, Richard, 1920-
20                           Adams, Richard, 1920-
21                           Adams, Richard, 1920-
22                Adichie, Chimamanda Ngozi, 1977-
23                Adichie, Chimamanda Ngozi, 1977-
24               Adlington, L. J. (Lucy J.), 1970-
25                                   Adoff, Jaime.
26                                   Adoff, Jaime.
27      edited by Ellen Datlow and Terri Windling.
28      edited by Ellen Datlow and Terri Windling.
29                   Aguilar Zeleny, Sylvia, 1973-
                           ...
3968                             Zevin, Gabrielle.
3969                             Zevin, Gabrielle.
3970                             Zevin, Gabrielle.
3971                             Zevin, Gabrielle.
3972                             Zevin, Gabrielle.
3973                             Zevin, Gabrielle.
3974                             Zevin, Gabrielle.
3975                      Ziegler, Jennifer, 1967-
3976                                 Zindel, Paul.
3977                                 Zindel, Paul.
3978                                 Zindel, Paul.
3979                                 Zindel, Paul.
3980                                 Zindel, Paul.
3981                                 Zindel, Paul.
3982                                 Zindel, Paul.
3983                                 Zindel, Paul.
3984                                 Zindel, Paul.
3985                               Zink, Michelle.
3986                                Zinn, Bridget.
3987                                Zinn, Bridget.
3988                                Zinn, Bridget.
3989                                Zinn, Bridget.
3990                             Zuckerman, Linda.
3991                                 Markus Zusak.
3992                                 Markus Zusak.
3993                                 Markus Zusak.
3994                                Zusak, Markus.
3995                                Zusak, Markus.
3996                                Zusak, Markus.
3997                                Zusak, Markus.
Name: author, Length: 3998, dtype: object 0                                                  Bizou.
1                                       Samurai shortstop
2                    Harry Potter and the deathly hallows
3                                       Dare me : a novel
4                                       Dare me : a novel
5                                       Dare me : a novel
6                                       Dare me : a novel
7                                                Firegirl
8                          Does my head look big in this?
9                                           Reality check
10                                   A man of the people.
11                                   A man of the people.
12                                           Arrow of God
13                                    A man of the people
14                                      Things fall apart
15                                      Things fall apart
16      How I paid for college : a novel of sex, theft...
17                                     Zombies & calculus
18                                        Mostly harmless
19                                         Watership Down
20                                         Watership Down
21                                         Watership Down
22                              Purple hibiscus : a novel
23                              Purple hibiscus : a novel
24                                   The diary of Pelly D
25                                              Jimi & me
26                               Names will never hurt me
27      After : nineteen stories of apocalypse and dys...
28      After : nineteen stories of apocalypse and dys...
29                                                   Alex
                              ...
3968                               Because it is my blood
3969                                            Elsewhere
3970                                            Elsewhere
3971                                            Elsewhere
3972                        Memoirs of a teenage amnesiac
3973                        Memoirs of a teenage amnesiac
3974                        Memoirs of a teenage amnesiac
3975                                How not to be popular
3976                         A begonia for Miss Applebaum
3977                              David & Della : a novel
3978                                       The doom stone
3979                                       The doom stone
3980                                       Loch : a novel
3981                   My darling, my hamburger : a novel
3982                   My darling, my hamburger : a novel
3983                                        Reef of death
3984                                        Reef of death
3985                              Prophecy of the sisters
3986                                               Poison
3987                                               Poison
3988                                               Poison
3989                                               Poison
3990                                   A taste for rabbit
3991                                      The Book Thief.
3992                                      The Book Thief.
3993                                      The Book Thief.
3994                                       The book thief
3995                                       The book thief
3996                                   I am the messenger
3997                                   I am the messenger
Name: title, Length: 3998, dtype: object

In [21]:
print("Number of rows: ",  len(xl))

Number of rows:  3998

### Clean the data 
Start by removing duplicate titles

In [22]:
titles = xl['title'].unique()
print(titles)

['Bizou.' 'Samurai shortstop' 'Harry Potter and the deathly hallows' ...
 'The Book Thief.' 'The book thief' 'I am the messenger']

This is good information to have, but notice how its appearance isn't easily readable. We will fix that later. For now, let's see how we can get the number of unique titles in the collection.

In [23]:
print("Number of unique titles in the collection: ", len(titles))

Number of unique titles in the collection:  2905

By cleaning up the data, we removed over 1000 records. We can do the same for the unique author names.

In [24]:
authors = xl['author'].unique()
print(authors)

[nan 'Gratz, Alan, 1972-' 'Rowling, J. K.' ... 'Zuckerman, Linda.'
 'Markus Zusak.' 'Zusak, Markus.']

We have the same issue we did with the titles. The list is truncated and its format looks odd. We can fix that by looping through the author names with a for loop. Because there are so many authors in the collection, I am printing only the first twenty records.

In [25]:
for author in authors[0:19]:
    print(author)

nan
Gratz, Alan, 1972-
Rowling, J. K.
Abbott, Megan E., 1971-
Abbott, Tony.
Abdel-Fattah, Randa.
Abrahams, Peter, 1947-
Acheba, Chinua.
Achebe, Chinua.
Acito, Marc, 1966-
Adams, Colin Conrad,
Adams, Douglas, 1952-
Adams, Richard, 1920-
Adichie, Chimamanda Ngozi, 1977-
Adlington, L. J. (Lucy J.), 1970-
Adoff, Jaime.
edited by Ellen Datlow and Terri Windling.
Aguilar Zeleny, Sylvia, 1973-
Aguirre, Ann.

This is much better. We have tidied up some of the data and now the author names in one neat column, without any repeats. Let's go back and do the same for the titles, again using only the first twenty records to save space.

In [26]:
for title in titles[0:19]:
    print(title)

Bizou.
Samurai shortstop
Harry Potter and the deathly hallows
Dare me : a novel
Firegirl
Does my head look big in this?
Reality check
A man of the people.
Arrow of God
A man of the people
Things fall apart
How I paid for college : a novel of sex, theft, friendship & musical theater
Zombies & calculus
Mostly harmless
Watership Down
Purple hibiscus : a novel
The diary of Pelly D
Jimi & me
Names will never hurt me

#### Get number of unique author names

In [27]:
print("\nNumber of unique author names: ", len(authors))

Number of unique author names:  1645

#### Get count for unique items

In [28]:
print("\nNumber of unique titles in collection: ", len(titles))

Number of unique titles in collection:  2905

#### Presenting the Data
We have cleaned up the data a lot but there is more we can do to make it presentable. Let's start with the two columns we have--title and author. We want to put the two columns side by side with both columns titled.

In [29]:
print("\nAUTHORS")
for author in authors[:19]:
    print(author)
    
print("\nTITLES")
for title in titles[:19]: 
    print(title)

AUTHORS
nan
Gratz, Alan, 1972-
Rowling, J. K.
Abbott, Megan E., 1971-
Abbott, Tony.
Abdel-Fattah, Randa.
Abrahams, Peter, 1947-
Acheba, Chinua.
Achebe, Chinua.
Acito, Marc, 1966-
Adams, Colin Conrad,
Adams, Douglas, 1952-
Adams, Richard, 1920-
Adichie, Chimamanda Ngozi, 1977-
Adlington, L. J. (Lucy J.), 1970-
Adoff, Jaime.
edited by Ellen Datlow and Terri Windling.
Aguilar Zeleny, Sylvia, 1973-
Aguirre, Ann.

TITLES
Bizou.
Samurai shortstop
Harry Potter and the deathly hallows
Dare me : a novel
Firegirl
Does my head look big in this?
Reality check
A man of the people.
Arrow of God
A man of the people
Things fall apart
How I paid for college : a novel of sex, theft, friendship & musical theater
Zombies & calculus
Mostly harmless
Watership Down
Purple hibiscus : a novel
The diary of Pelly D
Jimi & me
Names will never hurt me

Making progress! Now I have one column for unique titles and another column for unique author names. Now we can wrap it all by by mapping authors to titles and formatting a response:

In [30]:
for k, v in zip(authors[:19], titles[:19]):
    print("{1} by {0}".format(k,v))

Bizou. by nan
Samurai shortstop by Gratz, Alan, 1972-
Harry Potter and the deathly hallows by Rowling, J. K.
Dare me : a novel by Abbott, Megan E., 1971-
Firegirl by Abbott, Tony.
Does my head look big in this? by Abdel-Fattah, Randa.
Reality check by Abrahams, Peter, 1947-
A man of the people. by Acheba, Chinua.
Arrow of God by Achebe, Chinua.
A man of the people by Acito, Marc, 1966-
Things fall apart by Adams, Colin Conrad,
How I paid for college : a novel of sex, theft, friendship & musical theater by Adams, Douglas, 1952-
Zombies & calculus by Adams, Richard, 1920-
Mostly harmless by Adichie, Chimamanda Ngozi, 1977-
Watership Down by Adlington, L. J. (Lucy J.), 1970-
Purple hibiscus : a novel by Adoff, Jaime.
The diary of Pelly D by edited by Ellen Datlow and Terri Windling.
Jimi & me by Aguilar Zeleny, Sylvia, 1973-
Names will never hurt me by Aguirre, Ann.

#### Number of unique titles per author